/**
 * Site header
 */
.site-header {

  background-color: #000000;
  height: 60px;
  padding: 0 100px;
  // Positioning context for the mobile navigation icon
  position: relative;
}


.row{
    margin: 0 auto;
    width: 1080px;
}

header.site-header {
    background-color: #000000;
    height: 60px;
    padding: 0 100px;
}
header.site-header > nav.row > * {
    display: inline-block;
    height: 60px;
}
header.site-header .logo {
    float: left;
    height: 60px;
}
header.site-header .logo > img {
    height: 60px;
}
header.site-header .top-nav {
    font-size: 14px;
    margin-left: 155px;
    margin-right: auto;
}
header.site-header .top-nav .site-links {
    display: inline-block;
    float: left;
}
header.site-header .top-nav .site-links > li {
    display: inline-block;
    float: left;
    height: 60px;
}
header.site-header .top-nav .site-links > li > a {
    color: #fff;
    display: inline-block;
    height: 100%;
    line-height: 60px;
    padding: 0 20px;
}
header.site-header .top-nav .site-links > li > a:hover {
    background-color: #222222;
    color: #0073eb;
    text-decoration:none;
}
header.site-header .top-nav .version-switcher {
    display: inline-block;
    float: left;
    height: 60px;
    position: relative;
    width: 100px;
}
header.site-header .top-nav .version-switcher:hover > a {
    color: #fff;
    cursor: default;
}
header.site-header .top-nav .version-switcher:hover > a .fa::before {
    content: "";
}
header.site-header .top-nav .version-switcher > a {
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    line-height: 60px;
    padding: 0 20px;
}
header.site-header .top-nav .version-switcher > a .fa::before {
    content: "";
    margin-left: 5px;
}
header.site-header .top-nav .version-switcher ul {
    background: rgba(0, 0, 0, 0.85) none repeat scroll 0 0;
    color: #0073eb;
    display: none;
    left: -30px;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 100px;
    list-style: outside none none;
}
header.site-header .top-nav .version-switcher ul > li > a {
    color: #ababab;
    display: block;
    height: 50px;
    width: 99px;
}
header.site-header .top-nav .version-switcher ul > li > a:hover {
    background-color: #222;
    color: #0073eb;
}
header.site-header .top-nav .version-switcher:hover ul {
    display: inline-block;
}
header.site-header .right-nav {
    float: right;
    font-size: 14px;
}
header.site-header .right-nav .language-switcher {
    display: inline-block;
    float: left;
    position: relative;
}
header.site-header .right-nav .language-switcher > a {
    color: #fff;
    display: inline-block;
    line-height: 60px;
    margin-right: 10px;
    text-align: center;
    width: 80px;
}
header.site-header .right-nav .language-switcher > a .fa::before {
    content: "";
    margin-left: 5px;
}
header.site-header .right-nav .language-switcher > a:hover {
    background-color: #222;
    color: #0073eb;
}
header.site-header .github-fork {
    float: left;
}
header.site-header .github-fork > a {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    line-height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    width: 100px;
}
header.site-header .github-fork > a .fa {
    float: left;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 8px;
}
header.site-header .github-fork > a span {
    float: left;
    margin-right: 10px;
}
header.site-header .github-fork > a:hover {
    color: #fff;
}



.footer-nav {
    background-color: #333;
}
.footer-nav .intern-console {
    color: #ccc;
    display: inline;
    float: left;
    font-size: 12px;
    line-height: 30px;
    margin-left: 50px;
    margin-right: 19px;
    width: 150px;
}
.footer-nav .chat-console {
    border-left: 1px solid rgba(241, 242, 244, 0.2);
    border-right: 1px solid rgba(241, 242, 244, 0.2);
    color: #ccc;
    display: inline;
    float: left;
    font-size: 12px;
    padding-left: 50px;
    width: 600px;
}
.footer-nav .chat-console .sub-top-nava > li {
    display: inline;
    float: left;
    line-height: 30px;
    margin-bottom: 20px;
    width: 25%;
}
.footer-nav .public-console {
    display: inline;
    float: left;
    margin-left: 49px;
    margin-right: 50px;
    width: 100px;
}
.footer-nav .public-console > * {
}
.footer-nav .public-console > img {
    margin-right: 5px;
}
.footer-nav .public-console > p {
    color: #ccc;
    font-size: 14px;
}
.footer-nav .contact-us {
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 20px;
    padding-top: 40px;
    text-align: center;
}
.footer-nav .contact-us > * {
    vertical-align: middle;
}
.footer-nav .contact-us > img {
    margin-right: 5px;
}
.footer-nav .contact-us > a {
    color: #fff;
}
.footer-nav .friendly-links {
    margin-bottom: 40px;
    text-align: center;
}
.footer-nav .friendly-links > li {
    display: inline-block;
    line-height: 12px;
    padding: 0 10px;
}
.footer-nav .friendly-links > li > a {
    color: #ccc;
    font-size: 12px;
}
.footer-nav .copyright {
    color: #666;
    font-size: 12px;
    margin-bottom: -10px;
    padding: 20px 0;
    text-align: center;
}
.footer-nav .copyright > a {
    color: #fff;
}




.site-title {
  @include relative-font-size(1.525);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.35;
  letter-spacing: 0.2px;
  margin-bottom: 0;
  margin-left: 15%;
  float: left;
  color: #fff;
  text-decoration: none;

  &,
  &:visited {
    //color: $grey-color-dark;
    color: #fff;
  }
  &:hover {
    text-decoration: none;
  }

  img {
    height: 60px;
  }
}

.site-nav {
  margin-top: 8px;
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;
  background: #000;

  .nav-trigger {
      display: none;
      background: #000;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: #fff;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover {
      color: DodgerBlue;
      //rgb(0,255,255);
      text-decoration: none;
    }
  }
  .active {
      color: DodgerBlue;
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
      background: #000;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
      background: #000;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}




